<div id="content">
	<table class="skills">
		<tr>
			<td><%= link_to("Ones",url_for(:controller => "block",:action => "family",:id => 1)) %></td>
			<td><%= link_to("Twos",url_for(:controller => "block",:action => "family",:id => 2)) %></td>
			<td><%= link_to("Threes",url_for(:controller => "block",:action => "family",:id => 3)) %></td>
			<td><%= link_to("Fours",url_for(:controller => "block",:action => "family",:id => 4)) %></td>
			<td><%= link_to("Fives",url_for(:controller => "block",:action => "family",:id => 5)) %></td>
			<td><%= link_to("Sixes",url_for(:controller => "block",:action => "family",:id => 6)) %></td>
		</tr>
		<tr>
			<td><%= link_to("Sevens",url_for(:controller => "block",:action => "family",:id => 7)) %></td>
			<td><%= link_to("Eights",url_for(:controller => "block",:action => "family",:id => 8)) %></td>
			<td><%= link_to("Nines",url_for(:controller => "block",:action => "family",:id => 9)) %></td>
			<td><%= link_to("Tens",url_for(:controller => "block",:action => "family",:id => 10)) %></td>
			<td><%= link_to("Elevens",url_for(:controller => "block",:action => "family",:id => 11)) %></td>
			<td><%= link_to("Twelves",url_for(:controller => "block",:action => "family",:id => 12)) %></td>
		</tr>
	</table>
</div>
